.page-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 6rem;
}


.dark .page-title{
    background-color: #0a0a0a;
    color: white;
}

.page-title h1{
    font-size: 2.6rem;
}
.page-title span{
    color: var(--color-dark-purple);
}
.page-title p{
    font-size: 1.7rem;
    color: var(--color-dark-purple);
    cursor: pointer;
}

@media(width<=768px){
    .page-title{
        padding: 2rem;
    }
}

@media(width<=421px){
    .page-title{
        padding: 2rem 1rem;
    }
}

