header{
    height: 9rem;
    background-color:var(--bg-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 6rem;
    box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.2);
    position: sticky !important;
    top: 0;
    left: 0;
}

.dark header{
    background-color: #0a0a0a;
    box-shadow: 5px 5px 10px #171818, -5px -5px 10px #000000;
}

header .navbar-logo a{
    display: flex;
    align-items: center;
    font-size: 3.5rem;
    font-weight: 700;
    gap: 1rem;
    color: black;
}

.dark header .navbar-logo a{
    color: white;
}


.navbar-logo img{
    width: 15%;
    height: auto;
}


header span{
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-purple);
    color: white;
    border-radius: 50%;
    font-size: 2rem;
    cursor: pointer;
    box-shadow: -3px 3px 3px rgba(0,0,0,0.2);
}

@media(width<=768px){
    header{
        padding: 0rem 3rem;
    }
}

@media(width<=421px){
    header{
        padding: 0rem 2rem;
    }
}
