
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root{
  --bg-color : #eaeaea;
  --box-shadow: 5px 5px 10px #bebebe, -5px -5px 10px #fff;
  --color-purple : #7795f8;
  --color-dark-purple:#5d65d1;
}

html{
  font-size: 62.5%;
  font-family: 'Poppins', sans-serif;
}
body{
  background-color: var(--bg-color);
}

